<label for="top-wrapper_$id">$title</label>
<div id="top-wrapper_$id" class="countdownSelector_top_wrapper">
    <input id='$id' type='hidden' name='$postname' value='0'>
    <div class='countdown_wrapper_$id countdown_wrapper'>
        <div>
            D
            <div class='days countdown_input_wrapper'>
                <i class='fa fa-caret-up'></i><br>
                <input type='text' class='countdown_days' value='0'><br>
                <i class='fa fa-caret-down'></i>
            </div>
        </div>
        <div>
            H
            <div class='hours countdown_input_wrapper'>
                <i class='fa fa-caret-up'></i><br>
                <input type='text' class='countdown_hours' value='0'><br>
                <i class='fa fa-caret-down'></i>
            </div>
        </div>
        <div>
            M
            <div class='minutes countdown_input_wrapper'>
                <i class='fa fa-caret-up'></i><br>
                <input type='text' class='countdown_minutes' value='0'><br>
                <i class='fa fa-caret-down'></i>
            </div>
        </div>
        <div>
            S
            <div class='seconds countdown_input_wrapper'>
                <i class='fa fa-caret-up'></i><br>
                <input type='text' class='countdown_seconds' value='$model'><br>
                <i class='fa fa-caret-down'></i>
            </div>
        </div>
    </div>
</div>