<label for="$id">$title</label>
<div class="fileupload-advanced">
    <div class="top-actions fileupload-actions">
        <button $disabledString class="button delete-file-button red"><i class="fa fa-trash delete-icon" type="button"></i>
        </button>
        <% IF Permission("UPLOADS_MANAGE") %>
        <a class="button manage-file-button" target="_blank" href="$upload.managePath"><% lang('files.manage_file') %></a>
        <% END %>
        <input $disabledString type="button"  class="button fileSelect needsclick" id="{$id}" value="<% lang('files.browse') %>" />
    </div>
    <input name="{$postname}_file" id="{$id}_hidden"
           type="hidden" value="$upload.realpath" class="FileUploadValue"/>
    <input name="{$postname}_thumbleft" id="{$id}_thumbleft"
           type="hidden" value="$upload.thumbLeft" class="ThumbLeftValue"/>
    <input name="{$postname}_thumbtop" id="{$id}_thumbtop"
           type="hidden" value="$upload.thumbTop" class="ThumbTopValue"/>
    <input name="{$postname}_thumbwidth" id="{$id}_thumbwidth"
           type="hidden" value="$upload.thumbWidth" class="ThumbWidthValue"/>
    <input name="{$postname}_thumbheight" id="{$id}_thumbheight"
           type="hidden" value="$upload.thumbHeight" class="ThumbHeightValue"/>
    <div class="progress_info"></div>
    <div class="fileupload-tabs tabs">
        <ul>
            <li><a href="javascript:;" id="{$id}_tabpreview_tab" class="active preview-button"><% lang("preview") %></a></li>
            <% IF NOT $disabled %>
            <li><a href="javascript:;" id="{$id}_tabcrop_tab" class="show-on-js crop-button"><% lang("crop_image") %></a></li>
            <% END %>
        </ul>
        <% IF $upload %>
        <div class="with-upload tab-wrapper image-area">
            <% ELSE %>
            <div class="image-area tab-wrapper">
                <% END %>
                <div class="preview drop-area active" id="{$id}_tabpreview">
                    <a target="_blank" href="$upload.path" class="upload-link image-preview">
                        <img class="image-preview-img" src="$upload.imageHeight400" data-retina="$upload.imageHeight400" alt="$upload.name" />
                        <div class="filename-wrapper">
                            <span class="filename">$upload.name</span>
                        </div>
                    </a>
                    <div class="fileSelect drop-here show-on-js needsclick">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <% IF NOT $disabled %>
                        <p class="drag"><% lang("drag_file_here") %></p>
                        <p class="drop"><% lang("drop_file_here") %></p>
                        <% END %>
                        <!--<a $disabledString class="button"><% lang("files.browse") %></a>-->
                    </div>
                </div>
                <div class="crop-wrapper" id="{$id}_tabcrop">
                    <% IF $upload %>
                    <% IF $upload.sourceImageHeight400 %>
                    <img class="image-source-preview-img" src="$upload.sourceImageHeight400" data-retina="$upload.sourceImageHeight400" alt="$upload.name" />
                    <% ELSE %>
                    <img class="image-source-preview-img" src="$upload.imageHeight400" data-retina="$upload.imageHeight400" alt="$upload.name" />
                    <% END %>
                    <% ELSE %>
                    <img class="image-source-preview-img" />
                    <% END %>
                </div>
                <div class="tab-browser" id="{$id}_tabbrowser">
                    <div class="sidebar">
                        <ul class="sources">

                        </ul>
                    </div>
                    <div class="loading">
                        <img src="images/loading.gif" alt="{$_lang_loading}" />
                    </div>
                    <div class="images">

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="no-js-fallback hide-on-js">
            <h3><% lang("replace_file") %></h3>
            <input name="$name" class="input" type="file" title="$title"/>
        </div>
        <div class="info-bottom">

        </div>
    </div>
