<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title><% lang("install.install_goma", "Install Goma") %></title>
		<meta charset="UTF-8" />
		<% INCLUDE_CSS_MAIN "admin/style-front.less" %>
		<% INCLUDE_CSS_MAIN "install.less" %>
		
		<% HeaderHTML() %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						<a href="{BASE_SCRIPT}admin/switchlang/" title="{$_lang_switchlang}"><img src="system/images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>
					</div>
					<a href="{BASE_SCRIPT}admin{URLEND}"><img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">

				<!--<div class="header">
					<div class="content_wrapper">
						<a href="{BASE_URI}{BASE_SCRIPT}"><h1>Goma</h1></a>
					</div>
				</div>-->
				<div class="content">
					<div class="content_wrapper">
						<% addContent() %>
						$content
					</div>
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a target="_blank" href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>