# System files
.DS_Store
Thumbs.db
*.iml

system/libs/thirdparty/phpqrcode/cache
system/libs/thirdparty/phpqrcode/cache/*

# Aptana
.settings/
.project

# Netbeans
nbproject/

# Goma files
/_config.php
.index-db
.htaccess
web.config

# Goma Application
gomacms/*
!gomacms/.htaccess
!gomacms/web.config
!gomacms/application/*
!gomacms/application
!gomacms/templates/*
!gomacms/templates
!gomacms/info.plist
!gomacms/upgrade/*
!gomacms/upgrade
gomacms/application/.WELCOME_RUN
gomacms/application/WELCOME_RUN.php

# User files
Uploads
Uploads/*
images/resampled
images/resampled/*

# Developer
tpl/
!tpl/goma_simple/*
!tpl/goma_simple/
!tpl/smoothOrange/*
!tpl/smoothOrange/
*.permit

#sublime
*.sublime-workspace

.idea
.idea/*
system/version.php
system/installer/version.php