<% INCLUDE_CSS "versions.less" %>

<div class="versions-data">
    <table class="versions dataTable" style="width: 100%;">
        <% CONTROL versions() AS $version %>
        <tr class="version">
            <td>
                <a href="$namespace/preview/$version.versionid{URLEND}">
                    <i class="fa fa-eye" aria-hidden="true"></i> <% lang("version") %> <% echo $versioncount - $version_index %>
                </a>
            </td>
            <td>
                <% IF $this.publishedid == $version.versionid %>
                <span class="published version-marker"><% lang("published") %></span>
                <% ELSE IF $this.stateid == $version.versionid %>
                <span class="state version-marker"><% lang("draft") %></span>
                <% END %>
            </td>
            <td>
                $version.title
            </td>
            <td>
                <% IF $version.editor %>
                <a href="profile/$version.editorid" class="profile-link">
                    $version.editor.image.setSize(16, 16)
                    $version.editor.title
                </a>
                <% ELSE %>
                $version.editorid
                <% END %>
            </td>
            <td>
                $version.last_modified
            </td>
            <td>
                <a href="$namespace/restore/$version.versionid{URLEND}">
                    <i class="fa fa-undo" aria-hidden="true"></i> <% lang("restore") %>
                </a>
            </td>
        </tr>
        <% ENDCONTROL %>
    </table>
</div>
