<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>$title</title>
		<% INCLUDE_CSS_MAIN "admin/style-front.less" %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />

		<script type="text/javascript">
			$(function(){
				$("form[name=builddistro]").submit(function(){
					var form = $(this);
					form.find("button[type=submit]").prop("disabled", true);

					form.gForm().setLeaveCheck(true);

                    goma.ui.setProgress(1);

                    $(".ajax-result").html('<div class="progress"><img src="system/images/loading.gif" /> Creating archive...</div>');

                    fireAjax($.ajax({
						url: form.attr("action"),
						type: "post",
						data: form.serialize() + "&" + encodeURIComponent(form.find("button[type=submit]").attr("name")) +
						"=" + encodeURIComponent(form.find("button[type=submit]").val()),
						dataType: "json"
					}), form);

					return false;
				});

                var fireAjax = function(ajax, form) {
                    ajax.done(function(data){
                        try {
                            if (data.file) {
                                $(".ajax-result").html('<div class="success">Done creating archive</div>');
                                form.find("button[type=submit]").prop("disabled", false);
                                form.gForm().setLeaveCheck(false);
                                goma.ui.setProgress(100);
                                location.href = data.file;
                            } else {
                                if (data.redirect) {
                                    var progress = data.progress ? data.progress + "%" : "";
                                    if(data.progress) {
                                        goma.ui.setProgress(data.progress, true);
                                    }

                                    $(".ajax-result").html('<div class="progress"><img src="system/images/loading.gif" /> Creating archive... ' + progress + '</div>');
                                    fireAjax($.ajax({
                                        url: data.redirect,
                                        dataType: "json"
                                    }), form);
                                } else {
                                    throw "";
                                }
                            }
                        } catch(e) {
                            $(".ajax-result").html('<div class="error">'+lang("error") + ' ' + e +'</div>');
                            form.gForm().setLeaveCheck(false);
                            form.find("button[type=submit]").prop("disabled", false);
                        }
                    }).fail(function(){
                        goma.ui.setProgress(100);

                        $(".ajax-result").html('<div class="error">'+lang("error")+'</div>');
                        console.log(arguments);
                        form.gForm().setLeaveCheck(false);
                        form.find("button[type=submit]").prop("disabled", false);
                    });
                };

                // show progress in tree
                goma.ui.onProgress(function(percent, slow) {
                    if($(".loading").length == 1) {
                        var item = $(".loading").parent().eq(0);
                        if(item.find(".loadingBar").length == 0) {
                            item.append('<div class="loadingBar"></div>');
                            item.find(".loadingBar").css({
                                position: "absolute",
                                left: 0,
                                top:  0,
                                height: "2px"
                            });
                        }

                        var maxWidth = item.outerWidth();

                        var slow = (typeof slow == "undefined") ? false : slow;

                        var duration = (slow && percent != 100) ? 5000 : 500;

                        goma.ui.progress = percent;
                        item.find(".loadingBar").stop().css({opacity: 1}).animate({
                            width: percent / 100 * maxWidth
                        }, {
                            duration: duration,
                            queue: false
                        });

                        if(percent == 100) {
                            item.find(".loadingBar").animate({
                                opacity: 0
                            }, {
                                duration: 1000,
                                queue: false,
                                complete: function(){
                                    item.find(".loadingBar").remove();
                                }
                            });
                        }
                    }
                });
			});
		</script>
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						<a href="{BASE_SCRIPT}admin/switchlang/" title="{$_lang_switchlang}"><img src="system/images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>
					</div>
					<a href="{BASE_SCRIPT}admin{URLEND}"><img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">

                <div class="loading"></div>

				<div class="header">
					<div class="content_wrapper">
						<h1>$_cms_ptitle</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<div style="float: right;"><a href="{BASE_URI}{BASE_SCRIPT}admin/">{$_lang_administration}</a></div>
                        <div id="ajax" class="ajax-result">

                        </div>
						$content
						<div class="clear"></div>
					</div>
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>

		</div>
	</body>
</html>