<a href="./" class="">&laquo; {$_lang_back}</a>
<div id="apps">
	<% IF $folders %>
        <% CONTROL folders() AS $folder %>
            <div class="app">
                <div class="icon">
                    <% IF $folder.icon %>
                    <img src="{$folder.icon}" alt="" width="64" />
                    <% END %>
                </div>
                <div class="button_right">
                    <a href="{BASE_SCRIPT}install/restoreFolder/$folder.directory.url(){URLEND}" class="button"><% lang("install.restore") %></a>
                </div>
                <div class="info">
                    <h1>{$_lang_install.existent_folder}: $folder.directory</h1>
                    <p>$folder.title ($folder.name)</p>
                    <p>{$_lang_version} $folder.version</p>
                </div>
                <div class="clear"></div>
            </div>
        <% ENDCONTROL %>
	<% END %>

	<% IF $apps OR $folders %>
		<% CONTROL apps() AS $app %>
            <div class="app">
				<div class="icon">
					<% IF $app.icon %>
						<img src="{$app.icon}" alt="" width="64" />
					<% END %>
				</div>
				<div class="button_right">
					<a href="{BASE_SCRIPT}install/installApp/$app.app.url(){URLEND}" class="button"><% lang("install.install") %></a>
				</div>
				<div class="info">
					<h1>$app.title</h1>
					<p>$app.appinfo.autor</p>
					<p>{$_lang_version} $app.version</p>
				</div>
				<div class="clear"></div>
			</div>
		<% ENDCONTROL %>
	<% ELSE %>
		<div class="no_app">
			<% lang("install.no_app_found") %>
		</div>
	<% END %>
</div>