<% INCLUDE_CSS "categoryView.less" %>
<% INCLUDE_CSS "font-awsome/font-awesome.css" %>
<script type="text/javascript">
    $(function(){
        var scrollPos = -1;
        var categoryView = $(".category-view");
        categoryView.addClass("sidebar-hidden");
        categoryView.find(".menu .mobile-bar").click(function(){
            if(categoryView.hasClass("sidebar-hidden")) {
                scrollPos = $(window).scrollTop();
                categoryView.removeClass("sidebar-hidden");
                scrollToHash("category-view");
            } else {
                $(window).scrollTop(scrollPos);
                categoryView.addClass("sidebar-hidden");
            }
        });
        categoryView.find(".menu ul li a").click(function(){
            $(window).scrollTop(scrollPos);
            categoryView.addClass("sidebar-hidden");
        });
        CallonDocumentClick(function(){
            categoryView.addClass("sidebar-hidden");
        }, [categoryView.find(".menu")]);
    })
</script>
<div class="category-view" id="category-view">
    <div class="menu">
        <div class="menu-wrapper">
            <ul>
                <% CONTROL categories() AS $category %>
                <li>
                    <% IF $category.active %>
                    <a class="active" href="$category.url">$category.title</a>
                    <% ELSE %>
                    <a href="$category.url">$category.title</a>
                    <% END %>
                </li>
                <% ENDCONTROL %>
            </ul>
        </div>
        <div class="mobile-bar">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="content">
        <h2>$activeTitle</h2>
        <div class="content-wrapper">
            $content
        </div>
    </div>
    <div class="clear"></div>
</div>
