<% INCLUDE_CSS "history.less" %>
<% activatePagination($_GET_page, 10) %>

<div id="$id" class="endless-wrapper history scrollable all" data-wrapper=".history">
    <% IF $this %>

    <% CONTROL this() %>
    <% INCLUDE("event.html", $this) %>
    <% ENDCONTROL %>

    <% ELSE %>
    <div class="no_entries">
        {$_lang_no_result}
    </div>
    <% END %>

    <% IF isNextPage() %>
        <div data-url="<% addParamToURL($_SERVER_REAL_REQUEST_URI, "page", NextPage()) %>" class="endless-end show-on-js">
            <i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
        </div>
    <% END %>
</div>
